torch>=2.5.0
torchaudio>=2.5.0
transformers==4.46.3
numpy>=2.0.0
librosa==0.10.0
s3tokenizer==0.1.7
diffusers==0.29.0
resemble-perth==1.0.1
conformer==0.3.2
safetensors==0.5.3
omegaconf==2.3.0
silero-vad==5.1.2
einops
runpod
accelerate
scipy
soundfile
pydub
gradio
spaces
nltk
openai-whisper
faster-whisper
ffmpeg-python
auto-editor
resampy